<!DOCTYPE html>
<html>
<head>
    <title>{{ apartments.name }}</title>
</head>
<body>
    <h1>{{ apartments.name }}</h1>
    <p>{{ apartments.description }}</p>
    <p>Narxi: {{ apartments.price }}</p>
    <p>Joylashuvi: {{ apartments.location }}</p>
    {% if apartments.image %}
        <img src="{{ apartments.image.url }}" alt="{{ apartments.name }}" width="300">
    {% endif %}

    <br><br>
    <a href="{% url 'apartments_update' apartments.id %}">Tahrirlash</a>
    <a href="{% url 'apartments_delete' apartments.id %}">O‘chirish</a>
    <a href="{% url 'apartments_list' %}">Ortga qaytish</a>
</body>
</html>
